<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mopub.mobileads.rewarded_video">

    <application>
        <activity
            android:name="com.mopub.mobileads.RewardedMraidActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/MoPubFullscreenTheme" />
    </application>

</manifest>
