<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mopub.mobileads.interstitial">

    <application>
        <activity
            android:name="com.mopub.mobileads.MoPubActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/MoPubFullscreenTheme" />
        <activity
            android:name="com.mopub.mobileads.MraidActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/MoPubFullscreenTheme" />
    </application>
</manifest>
